name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Welcome to iomofo! Thank you for creating your first issue!'
        pr-message: 'Welcome to iomofo! Thank you for creating your first pull request!'
